body{
	background-color:white;
	font-family:sans-serif;
}


.wireframe{
	margin:0;
	padding:0;
}

.wireframe section{
	margin: 1em;
	font: small sans-serif;
	text-align: center;
	color: silver;
	background-color:whitesmoke;
	border: 1px solid gainsboro;
}

.wireframe h1{
	font-weight: 100;
}

.wireframe #synopsis{
	height: 5em;
}

.wireframe #purchase{
	height: 20em;
}

.wireframe #resources{
	height: 50em;
}